@import url("components/checkboxes.css");
@import url("components/richtextarea.css");

:root {
  --govuk-error-colour: var(--color-alert);
  --govuk-form-input-border: 2px solid var(--color-dark);
  --govuk-form-input-border-radius: 0;
  --govuk-form-input-error-border: 2px solid var(--govuk-error-colour);
  --govuk-form-focus-outline: 2px solid var(--focus-color);
  --govuk-form-focus-shadow: inset 0 0 0 2px;
}

.govuk-form-group {
  --flow-space: var(--space-m);
}

.govuk-form-group--error {
  padding-left: 12px;
  border-left: var(
      --govuk-border-width-form-group-error,
      var(--govuk-border-width, 5px)
    )
    solid var(--govuk-error-colour, #d4351c);
}

.govuk-form-group--error .govuk-form-group {
  padding: 0;
  border: 0;
}

.govuk-error-message {
  font-weight: var(--font-bold, 700);
  font-size: var(--size-step-0, 1rem);
  line-height: var(--leading-fine, 1.2);
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--govuk-error-colour, #d4351c);
}
